@model IEnumerable<DoesItSuck.Models.Review>

<section class="ReviewsContainer">
    @foreach (var item in Model)
    {
        <article>
            <header>
                <h1>@Html.DisplayFor(modelItem => item.Title)</h1>
                <p>@Html.DisplayFor(modelItem => item.Rating)</p>
            </header>
            <section>
                <p>@Html.DisplayFor(modelItem => item.Body)</p>
                @Html.DisplayFor(modelItem => item.Link)
            </section>
            <aside>
                @Html.DisplayFor(modelItem => item.Category)
            </aside>
        </article>
    }
</section>
