@model IEnumerable<DoesItSuck.Models.Review>


@foreach (var item in Model)
{
    <article class="@item.Category @item.Arrangement">
        <a href="@item.Link" target="_blank">
            <section class="main">
                <h1>@Html.DisplayFor(modelItem => item.Title)</h1>
                <p class="desc">@Html.DisplayFor(modelItem => item.Body)</p>
                <span class="rating">
                    @for (byte star = 5; star > 0; star--)
                    {
                        if (item.Rating >= star)
                        {
                            <label class="rating-star-full rating-star-display"></label>
                        }
                        else
                        {
                            <label class="rating-star-empty rating-star-display"></label>
                        }
                    }
                </span>
            </section>
            <section class="secondary">
                <p class="category">
                    @Html.DisplayFor(modelItem => item.Category)
                </p>
            </section>
        </a>
    </article>
}

