@model IEnumerable<DoesItSuck.Models.Review>


@foreach (var item in Model)
{
    <article>
        <a href="@item.Link">
            <header>
                <h1>@Html.DisplayFor(modelItem => item.Title)</h1>
            </header>
            <p>@Html.DisplayFor(modelItem => item.Body)</p>
            <p class="rating">@Html.DisplayFor(modelItem => item.Rating)</p>
            <p class="category @item.Category">
                @Html.DisplayFor(modelItem => item.Category)
            </p>
        </a>
    </article>
}

