<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Does It Suck?</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/font-awesome")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header>
        <i class="fa fa-camera-retro"></i> fa-camera-retro
        <h1>@Html.ActionLink("Does It Suck?", "Index", "Home")</h1>
        <nav>
            <ul>
                <li>@Html.ActionLink("Movies", "Index", new { category = "Movies" })</li>
                <li>@Html.ActionLink("Music", "Index", new { category = "Music" })</li>
                <li>@Html.ActionLink("Games", "Index", new { category = "Games" })</li>
                <li>@Html.ActionLink("Tech", "Index", new { category = "Tech" })</li>
                <li>@Html.ActionLink("Music", "Index", new { category = "Music" })</li>
                <li>@Html.ActionLink("Other", "Index", new { category = "Other" })</li>
            </ul>
        </nav>
    </header>
    <section>
        @RenderBody()
    </section>
    <footer>
        <p>&copy; @DateTime.Now.Year - Does It Suck?</p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <i class="fa fa-facebook fa-2x"></i>
        <i class="fa fa-twitter fa-2x"></i>
        <i class="fa fa-google-plus fa-2x"></i>
        <i class="fa fa-rss fa-2x"></i>
        <i class="fa fa-youtube fa-2x"></i>
        <i class="fa fa-pinterest fa-2x"></i>
</body>
</html>

